*.apk
*.ap_
*.aab
.DS_Store
*.dex
*.class
bin/
gen/
.gradle/
build/
local.properties
proguard/
proguard-project.txt
.project
.classpath
.settings/
*.iml
.idea
.externalNativeBuild
google-services.json
captures/
.cxx
